
  html {
    scroll-behavior: smooth;

  }
 /* Reset some default styles */
 * {
  margin: 0;
  padding: 0;
}
body {
  margin: 0;
  padding: 0;
}

html {
  margin: 0;
  padding: 0;
}
/* Create a transparent background for the header */
header { 
  background-color: #ffffff00;
  position: sticky;
  top: 0;
  z-index: 100;
  transition: background 0.3s; /* Add a transition for smooth opacity change */
  width: 100%; /* Add this to make the header span the entire viewport width */
  left: 0; /* Ensure the header starts from the left edge of the viewport */
  right: 0; /* Ensure the header ends at the right edge of the viewport */
}


/* Style the container */
.box {
  height: 50vh; /* You can adjust the height as needed */
  width: 50%;  
  text-align: center;
  box-sizing: border-box;
  background-size: cover; /* Ensure the background image covers the div */
  background-position: center; /* Center the background image */
  overflow: hidden;
}

.left {
  width: 48.5vw;
  float: left;
  box-sizing: border-box;
  border-radius: 20px;
  background-image: url(./assets/confident-young-businessman-modern-luxury-office-generated-by-ai.jpg);
  border: 3px solid #E2492F; /* Border for visualization */
  padding: 10px;
}

.right {
  width: 48.5vw;
  float: right;
  box-sizing: border-box;
  border-radius: 20px;
  background-image: url(./assets/woman-pink-dress-poses-front-black-background.jpg);
  border: 3px solid #E2492F; /* Border for visualization */
  padding: 10px;
  
}

        /* Add a media query to adjust styles for smaller screens */
        @media (max-width: 768px) {
          .container {
              height: auto; /* Reset the height for smaller screens */
          }

          .left, .right {
              width: 100%;
              float: none;
              margin-bottom: 20px; /* Add some spacing between the boxes */
          }
      }
/* Style the navbar container */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background: none
}

#newlogo {
  margin-bottom: 15px;
}
/* Style the logo and brand name section on the top left */
.navbar-logo img {
  height: 60px; /* Adjust the logo height as needed */
  margin-right: 10px;

}

.brand-name {
  font-size: 1.5rem;
  font-weight: bold;
  color: #333; /* Adjust the color as needed */
}

/* Style the navigation links on the top right */
.navbar-links ul {
  list-style: none;
}

.navbar-links ul li {
  display: inline;
  margin-right: 20px;
}

.navbar-links ul li:last-child {
  margin-right: 0;
}

.navbar-links ul li a {
  text-decoration: none;
  color: #333; /* Adjust the color as needed */
  font-weight: bold;
  transition: color 0.3s;
}

.navbar-links ul li a:hover {
  color: white; /* Change the color on hover */
  background: #E2492F;
  padding: 8px;
  border-radius: 5px;
}

/* Update the background opacity when scrolled down */
header.scrolled {
  background: rgb(0, 0, 0); /* Slightly transparent white background */
  color: white;
}

header.scrolled .navbar-links ul li a {
  color: white;
}

.cart-popup {
  overflow-x: hidden;
  padding-left: 10px;
  margin-top: 10px;
  border-radius: 10px;
  background-color: white; /* Set the background color for the cart popup */
  color: black; /* Set the text color for the cart popup */
  width: 300px; /* Adjust the width as needed */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Add shadow for the popup */
  border: solid;
}



/* Modify the cart product images */


.cart-product-details {
  flex-grow: 1;
}

.cart-product-name {
  font-weight: bold;
}

.cart-product-remove {
  cursor: pointer;
  color: #E2492F; /* Change the remove button color */
}

/* Style the cart total */
.cart-total {
  text-align: right;
  padding: 10px;
  font-weight: bold;
  border-top: 1px solid #ddd; /* Add a border above the total */
}

/* Hover effect for remove button */
.cart-product-remove:hover {
  color: #FF0000; /* Change the color on hover */
}
/* Landing Page Styles */

.shop-button2 {
  background-color: rgba(252, 252, 252, 0.514);
  color: black;
  font-size: 16px;
  padding: 10px 20px;
  border: 0px;
  cursor: pointer;
  border-radius: 5px;
  margin: 10px auto; /* Center the button horizontally */
  display: block; /* Ensure the button takes full width of its container */
  margin-bottom: 50%;
  margin-top: 50%;
}

/* Hover effect */
.shop-button2:hover {
  background-color: #E2492F; /* Change the background color on hover */
  color:white
}
/* Add more styles for buttons, links, or other elements as needed */
.titleM {
  color: white;
}

.descriptionM {
  color: white;
  margin-right: 200px;
}

.shopnow {
  color: #E2492F;
}

.shop-button{
  display: inline-block;
  padding: 10px 20px; /* Adjust padding as needed */
  background-color: white; /* Change the background color */
  color: black; /* Change the text color */
  text-decoration: none;
  border: none;
  border-radius: 5px; /* Add rounded corners */
  cursor: pointer;
  transition: background-color 0.3s ease; /* Add a smooth transition effect */

}

.shop-button:hover {
  display: inline-block;
  padding: 10px 20px; /* Adjust padding as needed */
  background-color: #E2492F; /* Change the background color */
  color: #fff; /* Change the text color */
  text-decoration: none;
  border: none;
  border-radius: 5px; /* Add rounded corners */
  cursor: pointer;
  transition: background-color 0.3s ease; /* Add a smooth transition effect */

}
.border-container {
  margin: 15px ; /* Center the container horizontally */
  border: 2px solid #ccc; /* Border style and color */
  border-radius: 10px; /* Rounded corners */
  padding: 20px; /* Padding inside the border */
  text-align: center;
  position: relative;
}

.top-image {
  max-width: 100%; /* Ensure the image fits within the container */
  display: block; /* Remove any default inline styles */
  margin: 0 auto 0px; /* Center the image horizontally and add spacing below it */
}

/* SCROLLING BANNER */

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

* {
  font-family: monaco;
  margin: 0;
  padding: 0;
}



.scroll-banner {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 150px;
  margin: 1rem 0;
  overflow: hidden;
  background-color: white;
}
.scroll-banner ul.client-list {
  position: relative;
  display: inline-block;
  background-color: white;
  list-style: none;
  white-space: nowrap;
}
.scroll-banner ul.client-list.cloned {
  position: absolute;
  top: 0;
  left: 0;
  background-color: white !important;
}
.scroll-banner ul.client-list li .photobanner img {
  max-width: 100%; /* Set a maximum width to ensure responsiveness */
  max-height: 100px; /* Set the maximum height as needed */
}

.photobanner img:hover {
  transform: scale(1.1); /* Increase the size by 10% on hover */
  transition: transform 0.3s ease; /* Add a smooth transition effect */
}


.scroll-banner ul.client-list li {
  float: left;
  width: auto;
  height: 150px;
  margin: 0 6px;
  padding: 4px;
  color: white;
  background-color: white;
  transition: all 0.25s ease;
  display: flex;
  justify-content: center;
  align-items: center;
}
.scroll-banner ul.client-list li .circle {
  background: white;
  width: 60px;
  height: 60px;
  border-radius: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.scroll-banner ul.client-list li:hover {
  cursor: pointer;
  background-color: white;
}


.article-card {
  width: 400px;
  height: 400px;
  border-radius: 12px;
  overflow: hidden;
  font-family: Arial, Helvetica, sans-serif;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 300ms, box-shadow 300ms;
  position: relative;
  display: flex; /* Use Flexbox to center content */
  flex-direction: column; /* Stack content vertically */
  justify-content: center; /* Center content vertically */
  align-items: center; /* Center content horizontally */
}
.article-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Adjust the hover shadow */
}

.article-card img {
  width: 100%;
  height: 400px; /* Adjust the height as needed */
  object-fit: cover;
}

.article-card .content {
  box-sizing: border-box;
  position: absolute;
  padding: 15px;
  max-width: 100%;
  max-height: 100%; /* Set a maximum height */
  overflow: auto; /* Add scrollbars if the content exceeds the maximum height */
  bottom: 0;
  background: linear-gradient(transparent, rgba(0, 0, 0, 0.6));
}

.article-card .date,
.article-card .title {
  margin: 0;
}

.article-card .date {
  font-size: 12px;
  color: rgba(255, 255, 255, 0.9);
  margin-bottom: 4px;
}

.article-card .title {
  font-size: 16px; /* Slightly reduce the title font size */
  color: #fff;
}

.article-cards-container {
  display: flex;
  gap: 10px;
  padding: 10px;
  overflow-x: scroll; /* Enable horizontal scrolling */
  -webkit-overflow-scrolling: touch; /* Enable smooth scrolling on iOS */
  scrollbar-width: none; /* Hide the scrollbar for Firefox */
  -ms-overflow-style: none; /* Hide the scrollbar for IE and Edge */
  white-space: nowrap; /* Prevent cards from wrapping to the next line */
}

/* Hide the scrollbar for Webkit browsers (Chrome, Safari) */
.article-cards-container::-webkit-scrollbar {
  display: none;
}

/* Centering content vertically and horizontally */
.center-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

  .flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .container {
    font-family: "Lato", sans-serif;
    max-width: 100% !important;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 !important;
    overflow-x: hidden;
  }
  
  
  @media screen and (max-width: 480px) {
    .header {
      flex-direction: column;
    }
    .header .logo {
      margin: 10px 0;
    }
    .header .header__road {
      width: 100%;
      justify-content: flex-start;
      margin-top: 10%;
    }
  }
  
  /* MAIN CNT  */
  .main-cnt {
    max-width: 100%;
    margin-left: 30px;
    margin-right: 30px;
  }
  @media screen and (max-width: 480px) {
    .main-cnt {
      max-width: 100%;
    }
  }
  
  /* PRODUCTS */
  .products-container {
    width: 100vw;
    border-top: 2px solid black; /* Border style and color */
    padding: 20px; /* Add some padding to the container */
    margin-top: 20px; /* Adjust the top margin as needed */
    background-color: white; /* Background color for the container */
    margin-bottom: 30px;

  }
 
  #newinimg {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 20px auto; /* Center the image horizontally and add 20px margin at the top */
    border: 3px solid #E2492F;
    border-radius: 40px;
    padding: 15px;
}

#newimg {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 20px auto; /* Center the image horizontally and add 20px margin at the top */
  border: 3px solid #E2492F;
  border-radius: 40px;
  padding: 15px;
}

  
.card {
  margin-left: 30px;
  margin-top: 20px;
  margin-right: 30px;

}
  .products .card {
    margin-bottom: 10%;
    border: 2px solid #FFFFFF;
    transition: all 0.3s ease-in-out;
    border: 2px solid;
  }

  .products .card:hover {
    border: 2px solid #E2492F;
    transition: 0.01s;
  }

  .products .card:hover .card__sale__label {
    background-color: #C8AA00;
    color: #373737;
    border: 1px solid #C8AA00;
  }
  .products .card__sale {
    border: 2px solid #E2492F;
  }
  .products .card__sale .card__sale__label {
    position: absolute;
    top: -4px;
    right: 2%;
    color: #FFFFFF;
    background-color: #E2492F;
    padding: 8px;
    font-size: 0.7em;
    transition: all 0.3s ease-in-out;
  }
  .products .products__card {
    background-color: #F4F4F4;
    padding-bottom: 0;
    padding-top: 0;
  }
  
  .products__card__text {
    color: #858585;
  }
  .products__card__text .card__text__title {
    text-transform: uppercase;
    margin-bottom: 0;
    margin-top: 5%;
  }
  .products__card__text .card__text__wraper {
    display: flex;
  }
  .products__card__text .card__text__stars {
    display: flex;
    align-items: center;
    margin: 0;
    color: #FFB800;
    font-size: 0.7em;
    width: 50%;
  }
  .products__card__text .fa-star {
    padding-right: 3px;
  }
  .products__card__text .card__text__price {
    width: 50%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  .products__card__text .card__text__price .price__normal {
    color: #373737;
    font-size: 2em;
    font-weight: 700;
  }
  .products__card__text .card__text__price .price__sale {
    font-size: 1.2em;
    text-decoration: line-through;
    margin-right: 10%;
  }
  .products__card__text .card__text__list {
    list-style: none;
    margin: 0;
    padding: 0;
    font-size: 0.8em;
    width: 50%;
    line-height: 25px;
  }
  .products__card__text .card__text__list .list__item__a--light {
    color: #858585;
  }
  .products__card__text .card__text__btn {
    width: 40%;
    height: 35px;
    padding: 0;
    border-radius: 0;
    text-transform: uppercase;
    font-size: 0.55em;
  }
  .products__card__text .card__text__btn:hover {
    color: #FFFFFF;
    background-color: #E2492F;
    border-color: #E2492F;
  }
  
  .closed {
    color: inherit;
  }
  .closed:hover {
    color: inherit;
  }
  
  /* ASIDE CART  */
  .aside__cart .aside__cart__header {
    color: #858585;
  }
  .aside__cart .aside__cart__header .cart__header__icon {
    color: #FFFFFF;
    background-color: #E2492F;
    padding: 5px;
    margin-right: 10px;
    padding-top: 10px;
  }
  .aside__cart .aside__cart__subtotal {
    color: #858585;
    margin-top: 5%;
  }
  .aside__cart .aside__cart__btn {
    border-radius: 0;
    font-size: 0.7em;
    background-color: #E2492F;
    margin-bottom: 5%;
    text-transform: uppercase;
    transition: all 0.3s ease-in-out;
  }
  .aside__cart .aside__cart__btn .fa-shopping-cart, .aside__cart .aside__cart__btn .fa-credit-card {
    margin-right: 5px;
  }
  .fa-shopping-cart {
    margin-top: 5px;
  }
  .aside__cart .aside__cart__btn:hover {
    background-color: #FFFFFF;
    color: #373737;
    border-color: #373737;
  }
  .aside__cart .cart__btn--margin {
    margin-right: 5%;
  }
  
  .cart__card {
    border-radius: 0 !important;
    border: none !important;
    max-width: none !important; /* Remove Bootstrap's max-width property */
    width: 165% !important; /* Make the images take up 100% of the container width */
    height: auto !important; /* Maintain aspect ratio */
    object-fit: contain !important; /* Use "contain" to fit the entire image in the container */
    padding-right: 125px !important;
    margin-left: -5px;
  }

  .cart__product {
    color: black;
    font-size: 0.7em;
    border-left: 1px solid #858585;
    height: 100%;
    padding-left: 5%;
  }
  .cart__product .cart__product__delete {
    height: 0px;
    width: 0px;
    color: white;
    transition: all 0.3s ease-in;
    position: absolute;
    top: 5px;
    right: 20px;
    font-size: 0.5em;
    line-height: 0;
    text-align: center;
    cursor: pointer;
  }
  
  .cart__product .cart__product__name {
    margin: 0;
  }
  .cart__product .cart__product__price {
    margin: 5px 0;
    font-size: 1.3em;
  }
  .cart__product .cart__product__stars {
    color: #FFB800;
    margin: 0;
  }
  
  .cart__card:hover {
    font-size: 1.0em;
  }
  .cart__product__delete:hover {
    color: white;
  }
    /* ASIDE CATEGORIES  */
    .aside__categories .aside__categories__header {
      color: #858585;
    }
    .aside__categories .aside__categories__header .categories__header__icon {
      color: #FFFFFF;
      background-color: #E2492F;
      padding: 5px;
      margin: 5% 10px 0 0;
    }
    .aside__categories .aside__categories__list {
      color: #858585;
      list-style: none;
    }
    .aside__categories .aside__categories__list .categories__list__list-item {
      border-bottom: 1px solid #858585;
      border-radius: 0;
      padding: 5% 0;
      cursor: pointer;
    }
    .aside__categories .aside__categories__list .list-item__arrow--margin {
      margin-right: 5%;
    }
    
    .aside-labe__icon--slide-x {
      right: 66.5%;
    }
  #cart {
    visibility: hidden;
  }

  /* For viewport widths less than 768px, show one card per row */
@media screen and (max-width: 768px) {
  .article-cards-container {
    flex-wrap: nowrap; /* Prevent wrapping of cards */
    overflow-x: scroll; /* Enable horizontal scrolling on smaller screens */
  }
}

/* For viewport widths between 769px and 1200px, show two cards per row */
@media screen and (min-width: 769px) and (max-width: 1200px) {
  .article-cards-container {
    grid-template-columns: repeat(2, 1fr);
    flex-wrap: nowrap; /* Prevent wrapping of cards */
    overflow-x: scroll; /* Enable horizontal scrolling on smaller screens */
  }
}

/* Reset some default styles */
body, h1, h2, h3, p, ul, li {
  margin: 0;
  padding: 0;
}

/* Reset some default styles */
body, h1, h2, h3, p, ul, li {
  margin: 0;
  padding: 0;
}

/* Style the footer */
footer {
  background-color: black;
  color: #fff;
  padding: 20px 0;
  text-align: center;
  width: 100%; /* Make the footer span 100% of viewport width */
  border-radius: 10px;

}

.footer-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 20px;
  max-width: 1200px; /* Set a maximum width for the content */
  margin: 0 auto; /* Center align the content */
}

.footer-section {
  flex: 1;
  margin-right: 20px;
}

.footer-section h3 {
  margin-bottom: 10px;
}

ul {
  list-style: none;
}

ul li {
  margin-bottom: 10px;
}

.social-icon {
  display: inline-block;
  margin-right: 10px;
  color: #fff;
  text-decoration: none;
  font-weight: bold;
}

/* Style the footer bottom */
.footer-bottom {
  background-color: #222;
  padding: 10px 0;
}

